{% extends 'base.html.twig' %}

{% block title %}Reservation index{% endblock %}

{% block body %}

    {% if app.user == "" %}
        <div class="d-flex containerBoxes rounded p-5 row my-5 flex-column text-center align-items-center">
            <p>Dépêchez vous de vous connecter avant de rater vos futurs rendez-vous chez nous.
                <br>Ne laissez pas tomber ce beau monde qui vous a tant apporté...</p>
            <a class="btn btn-dark mt-5" href="{{ path('app_login') }}">Sauver le monde!</a>
        </div>
    {% else %}
        <div class="d-flex containerBoxes rounded p-5 row my-5 flex-direction-column text-center">
            <h3>Vos réservations</h3>
            <table class="table">
                <tbody>
                {% for reservation in reservations %}
                    <tr>
                        <td  class="text-white">Le {{ reservation.reservationDate ? reservation.reservationDate|date('d/m/y') : '' }}</td>
                        <td>
                            <a href="{{ path('reservation_show', {'id': reservation.id}) }}" class="btn btn-dark">Voir</a>
                            <a href="{{ path('reservation_edit', {'id': reservation.id}) }}" class="btn btn-warning">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" class="text-white">Vous n'avez pas encore de réservation, dépêchez vous!</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('reservation_new') }}" class="btn btn-warning">Nouvelle réservation</a>
        </div>
    {% endif %}

{% endblock %}
